.App {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(45deg, #5d5d5d, #3e3e3e);
  display: flex;
}

.container {
  position: relative;
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.mars-surface {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.jetpack {
  position: absolute;
  left: 90%;
  top: 0;
  animation: ascent-descent 40s forwards ease-out;
}

.rover {
  position: absolute;
  left: 91%;
  top: 30%;
  animation: rover-descent 40s forwards ease-out;
}

.harness {
  position: absolute;
  transform-origin: 0px 0px;
  width: 0.2px;
  height: 35px;
  left: 54%;
  top: 58%;
  background-color: rgb(27, 16, 6);
  animation: harness-animation 40s forwards ease-out;
}

.harness-1 {
  transform: rotate(10deg);
  animation: harness-left 40s forwards ease-out;
}
.harness-3 {
  transform: rotate(-10deg);
  animation: harness-right 40s forwards ease-out;
}

.rover-image {
  width: 25px;
  z-index: 4;
}

@keyframes ascent-descent {
  0% {
    left: 90%;
    top: 0%;
    transform: rotate(0deg) scale(1);
  }
  55% {
    left: 46%;
    top: 44%;
    transform: rotate(0deg) scale(1);
  }
  66% {
    left: 46%;
    top: 44%;
    transform: rotate(0deg) scale(1);
  }
  70% {
    left: 46%;
    top: 44%;
    transform: rotate(-15deg) scale(1);
  }
  100% {
    left: -20%;
    top: 0%;
    transform: rotate(-15deg) scale(0.5);
  }
}

@keyframes harness-animation {
  0% {
    transform: rotate(0deg) scale(1);
  }
  61% {
    transform: rotate(0deg) scale(1);
  }
  66% {
    transform: rotate(0deg) scale(0);
  }
  100% {
    transform: rotate(0deg) scale(0);
  }
}

@keyframes harness-left {
  0% {
    transform: rotate(10deg) scale(1);
  }
  60% {
    left: 50.5%;
    top: 52%;
    transform: rotate(10deg) scale(1);
  }
  61% {
    transform: rotate(0deg) scale(1);
  }
  66% {
    transform: rotate(0deg) scale(0);
  }
  100% {
    transform: rotate(0deg) scale(0);
  }
}
@keyframes harness-right {
  0% {
    transform: rotate(-10deg) scale(1);
  }
  60% {
    transform: rotate(-10deg) scale(1);
  }
  61% {
    transform: rotate(0deg) scale(1);
  }
  66% {
    transform: rotate(0deg) scale(0);
  }
  100% {
    transform: rotate(0deg) scale(0);
  }
}

@keyframes rover-descent {
  0% {
    left: 91%;
    top: 30%;
  }
  55% {
    left: 47%;
    top: 74%;
  }
  60% {
    left: 47%;
    top: 74%;
  }
  61% {
    left: 47%;
    top: 77%;
  }
  66% {
    left: 47%;
    top: 77%;
  }
  70% {
    left: 47%;
    top: 77%;
  }
  100% {
    left: 47%;
    top: 77%;
  }
}

.jetpack-body {
  height: 18px;
  z-index: 4;
}

.jetpack-cc {
  position: relative;
}

.jetpack-retro-rocket {
  position: absolute;
  height: 15%;
  width: 5.6%;
  z-index: 3;
  transform-origin: 2.5px 0px;
}

.retro-rocket-descent-fire {
  animation: retro-pulse-descent 0.1s infinite;
}

@keyframes retro-pulse-descent {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(2);
  }
}

.retro-rocket-ascent-fire {
  animation: retro-pulse-ascent 0.1s infinite;
}

@keyframes retro-pulse-ascent {
  0% {
    transform: scaleY(1) rotate(-15deg);
  }
  100% {
    transform: scaleY(3) rotate(-15deg);
  }
}

.jetpack-retro-rocket-1 {
  top: 73%;
  left: 14%;
}

.jetpack-retro-rocket-2 {
  top: 66%;
  left: 21.5%;
}

.jetpack-retro-rocket-3 {
  top: 79%;
  left: 39.5%;
  height: 14%;
}

.jetpack-retro-rocket-4 {
  top: 80%;
  left: 45%;
  height: 14%;
}

.jetpack-retro-rocket-5 {
  top: 63%;
  left: 69%;
  height: 14%;
}

.jetpack-retro-rocket-6 {
  top: 63%;
  left: 76%;
  height: 15%;
}

.jetpack-retro-rocket-7 {
  top: 78%;
  left: 87.5%;
  height: 15%;
}

.jetpack-retro-rocket-8 {
  top: 78%;
  left: 94.5%;
  height: 15%;
}

@media (max-width: 600px) and (min-width: 320px) {
  .harness {
    width: 0.08px;
    height: 45px;
  }
  .container {
    width: 95%;
  }
  .rover-image {
    width: 40px;
  }
  .jetpack-body {
    height: 30px;
  }
}
